@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish   ;
}

.card {
  width: 836px;
  height: 394px;
  background-color: #f4f4f4;
}



.title{
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80px;
}

#btnClose{
    background-color: #FFFFFFFF;
    outline: none;
    border: none;
}